.home {
  background-image: url('../images/PBD_8_14_14.jpeg');
  background-size: cover;
  background-position: center center;
}

section .content {
 position: static; 
 background-color: #fff;
 padding: 100px 50px 0; 
}

header .content h1 {
  margin-bottom: 200px;
}

section .content h2 {
 width: 100%;
  text-shadow: none;
}

.content p {
 font-size: 20px; 
}

.logo {
 max-width: 150px; 
}

.button-container {
  justify-content: center;  
}

section {
  display: flex;
  background-color: #fff;
  color: #000;
  min-height: 600px;
}

section .content, section .section-image {
    width: 100%;
    max-width: 50%;
}

section .section-image {
 background-size: cover;
  background-position: center center;
}

#what .section-image {
 background-image: url('../images/PBD_8_14_9.jpeg');
}
