.home {
  background-image: url('../images/PBD_8_14_14.jpeg');
  background-size: cover;
  background-position: center center;
}

section {
  display: flex;
  background-color: #fff;
  color: #000;
}

section .content, section .section-image {
    width: 100%;
    max-width: 50%;
}

section .section-image {
 background-size: cover;
  background-position: center center;
}

#what .section-image {
 background-image: url('images/PBD_8_14_9.jpeg');
}
